{% extends "layouts/base.html" %}

{% block content %}
<h2>Dashboard Tugas</h2>

{% if role == "dosen" %}
    <a href="{{ url_for('tugas.form_tambah_tugas') }}" class="btn">
        + Tambah Tugas
    </a>
{% endif %}

<table class="table">
    <tr>
        <th>Judul</th>
        <th>Mata Kuliah</th>
        <th>Deadline</th>
        <th>Aksi</th>
    </tr>

    {% for t in tugas_list %}
    <tr>
        <td>{{ t.judul }}</td>
        <td>{{ t.nama_matakuliah }}</td>
        <td>{{ t.deadline }}</td>
        <td>
            {% if role == "mahasiswa" %}
                <a href="{{ url_for('tugas.detail_tugas', tugas_id=t.id) }}">
                    Kumpulkan
                </a>
            {% else %}
                <a href="{{ url_for('tugas.detail_tugas', tugas_id=t.id) }}">
                    Detail
                </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
