{% extends "layouts/base.html" %}
{% block content %}

<div class="card-form">
  <h2>Tambah Tugas</h2>

  <form method="post">
    <label>Judul Tugas</label>
    <input type="text" name="judul" required>

    <label>Deskripsi</label>
    <textarea name="deskripsi"></textarea>

    <label>Mata Kuliah</label>
    <select name="matakuliah_id" required>
      {% for mk in matakuliah_list %}
        <option value="{{ mk.id }}">{{ mk.nama }}</option>
      {% endfor %}
    </select>

    <input type="hidden" name="dosen_id" value="{{ dosen_id }}">

    <label>Deadline</label>
    <input type="datetime-local" name="deadline" required>

    <button type="submit" class="btn-primary">Simpan Tugas</button>
  </form>
</div>

{% endblock %}
